@keyframes r {
    to {
        transform: rotateY(-5deg);
    }
}
.box {
    transform-style: preserve-3d;
    perspective: 24ch;
    width: 25vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Inconsolata', monospace;
    font-size: 28px;

    box-sizing: border-box;
    margin-left: 10px;
    &::before,
    &::after {
        width: 300px;
        position: absolute;
        background: #fff;
        content: "QinqianWu's blog";
        color: #f50;
        animation: r 3s linear infinite;
        transform: rotateY(5deg);
    }
    &::after {
        padding: 0 0px 10px 0px;
        color: #080;
        animation-delay: -1.5s;
    }
}

.head_bar {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: left;
}
